<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Coleta de dados</span>
</mat-toolbar>
<form>
  <div>
    <h2>Texto Curto</h2>
    <mat-form-field>
      <input matInput placeholder="Resposta">
    </mat-form-field>
  </div>
  <div>
    <h2>Texto Longo</h2>
    <mat-form-field>
      <textarea matInput placeholder="Resposta"></textarea>
    </mat-form-field>
  </div>
  <div>
    <h2>Múltipla Escolha</h2>
    <mat-radio-group class="custom-group" [(ngModel)]="radioGroup" name="group1">
      <mat-radio-button *ngFor="let option of radioOptions" [value]="option">{{option}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <h2>Caixa de seleção</h2>
    <section class="custom-group">
      <mat-checkbox [(ngModel)]="checkbox1" name="checkbox1">Opção 1</mat-checkbox>
      <mat-checkbox [(ngModel)]="checkbox2" name="checkbox2">Opção 2</mat-checkbox>
      <mat-checkbox [(ngModel)]="checkbox3" name="checkbox3">Opção 3</mat-checkbox>
    </section>
  </div>
  <div>
    <h2>Seleção</h2>
    <mat-form-field>
      <mat-label>Opções</mat-label>
      <mat-select [(ngModel)]="select" name="select1">
        <mat-option *ngFor="let option of radioOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <h2>Slider</h2>
    <mat-slider thumbLabel tickInterval="1" min="1" max="5" step="1" value="1" [(ngModel)]="slider" name="slider1">
    </mat-slider>
  </div>
  <div>
    <h2>Data</h2>
    <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
  </div>
</form>
<router-outlet></router-outlet>